.content{
    position: relative;
    margin-top: 40%;
    text-align: center;
    font-size: 18px;
    color:#666666 ;
}
.content .desc{
     color: #9a9a9a;
     font-size: 20px;
     margin-bottom: 40%;
     text-align: center;


}
.desc .section{
    margin:20px auto;
    background-color: white;
    font-size: 18px;
    padding: 10px;
    height: 25px;
    width: 100px;
    border:1px solid #b2b2b2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}









