#index {
    margin:0 auto;
    position: relative;
    overflow:hidden;
    min-width:320px;
    max-width:540px;
    border-left: 1px solid #eaeaea;
    border-right:1px solid #eaeaea;
    background:#eaeaea;
}
#topHeader{
    width: 100%;
    position:fixed;
    background-color:#FFFFFF ;
    text-align: center;
    min-width:320px;
    max-width:540px;
    z-index: 100;
}
#topHeader span:first-child{
    float: left;
    margin: 10px;
}
#topHeader span:nth-child(2){
    color:#575757;
    font-weight: bold;
    font-size: 20px;
    margin-right:5%;
    line-height: 50px;
}
#topHeader span:nth-child(3){
    font-size: 20px;
    float: right;
    margin: 4px 10px 0 0;
}
section{
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.touchslider { position: relative; overflow: auto; }
.touchslider li { list-style: none; }
.touchslider ul li { float: left; }
.touchslider ul li img{width: 100%}
/*.touchslider{position: relative; overflow: auto;}
.touchslider .touchslider-viewport{position:relative;height: 280px}
.touchslider img{width: 100%}*/
/*.touchslider{position: relative;height: 280px;}
.touchslider .touchslider-viewport{position: relative;width: 100%;}
.touchslider-viewport img{width: 100%;height: 280px}
@media only screen and (max-width: 1023px){
    .touchslider{position: relative;height: 200px}
    .touchslider-viewport img{width: 100%;height: 200px}
}*/
.zhw-tab-nav{background:#fff;padding:20px 0;line-height:18px;height:80px;overflow:hidden;margin-top: 6px}
.zhw-tab-nav .quarter{width:25%;text-align:center;float:left;}
.zhw-item {background:#fff;height:auto;overflow:hidden;margin:10px 0px 0px 0px;}
.zhw-item .zhw-item-head{border-bottom: 2px solid #cecccc; height: 40px}
.zhw-item .zhw-item-channel{float: left;margin:0px 0px 0px 22px;line-height: 40px;font-weight: bold;font-size: 18px}
.zhw-item .zhw-item-more{float: right;margin-right: 22px;line-height: 40px}
.zhw-item .zhw-item-list{margin:0px 12px;border-bottom:0px solid #b2b2b2;}
.zhw-item-list a{display:block;line-height:40px;border-top:1px solid #b2b2b2;padding:6px;}
.zhw-item-list a:first-child{border-top-width:0;}

.zhw-item .zhw-item-area {margin:0px 0px;padding: 10px}
.quarter-area-left{height:100px;float:left;width: 45%;margin: 0px 0px 10px 0px;text-align: center;}
.quarter-area-left a{
    line-height:100px; display:block;margin:0px auto 10px auto;font-size:18px;color: #ffffff;vertical-align: middle;border: 0px;
}
.quarter-area-right{height:100px;float:right;width: 45%;margin: 0px 0px 10px 0px;text-align: center}
.quarter-area-right a{
    line-height:100px; display:block;margin:0px auto 10px auto;font-size:18px;color: #ffffff;vertical-align: middle;border: 0px;
}
.zhw-item .zhw-item-list .original{background-color: #f0744d;}
.zhw-item .zhw-item-area .blue{background-color: #53b6e9;}
.zhw-item .zhw-item-area .original{background-color: #f0744d;}
.zhw-item-image-list{height:auto;overflow:hidden;border-bottom:1px solid #b2b2b2;margin: 0px 5px 0px 5px }
.zhw-item-image-list img {float:left;margin:10px;width: 90px;height: 95px}
.zhw-item-image-list .title{margin: 12px 10px 0px 10px ;position: relative;font-size: 15px;font-weight: bold}
.zhw-item-image-list .content{margin: 0px 10px 0px 10px ;position: relative;}
.zhw-item-image-list .flowLeft{margin: 40px 0px 10px 0px ;position: relative;float: left;bottom: 0}
.zhw-item-image-list .flowRight{margin:40px 20px 10px 0px ;position: relative;float: right;bottom: 0}
.zhw-item-image-list:last-child{
    border: 0;
}