.zhw-item-info {padding:10px 0;}


.zhw-classinfo-img img{top: 0px; position: relative;display:block;width: 100%;}

.zhw-class-info-list{background:#fff;margin:0px 10px 10px 10px; height:auto;overflow:hidden;border:0px solid #b2b2b2; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
.zhw-class-info-list img {float:left;margin:10px;width: 80px;height: 85px}
.zhw-class-info-list .title{margin: 15px 10px 0px 10px ;position: relative;font-size: 16px;font-weight: bold}
.zhw-class-info-list .content{margin: 10px 10px 0px 10px ;position: relative;color: #999999;}
.zhw-class-info-list .flow{margin: 0px 20px 10px 0px ;position: relative;float: right;bottom: 0;color: #999999}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}

.zhw-item-info .zhw-item-info-list{background:#fff;margin:10px; height:auto;overflow:hidden;border:0px solid #b2b2b2; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; padding:10px; }
.zhw-item-info-list .img {float:left;margin:10px 10px 0px 5px;width: 25%;}
.zhw-item-info-list .des{float:left;margin:10px 0px 0px 0px;width:65%;}
.zhw-item-info-list .bTop{float:left;margin: 0px 0px 0px 20px ;width: 90%}
.zhw-item-info-list .laLeft{width:99%; margin:10px 0px 0px 20px; float:left;}
.zhw-item-info-list .classTop{float:left;vertical-align: top;overflow:auto;margin: 0px 0px 0px 20px}
.zhw-item-info-list .classRight{ margin:0px 0px 0px 0px; float:right;}

.zhw-item-info-list .comment-name{margin: 10px}
.zhw-item-info-list .comment-content{margin: 10px}
.zhw-item-info-list .comment-time{float: right;margin: 0px 20px 0px 0px}

.zhw-item-detail-info {padding:0px 0px; }
.zhw-item-detail-info .detailInfo{background-color: #ffffff;font-size: 15px;color:#666666;border-top:1px solid #b2b2b2;  }
.zhw-item-detail-info .detailInfo .lineHight{margin: 0px 0px 10px 0px}
.lineHight .la{margin-left: 10px}
.zhw-item-detail-info .detailInfo header{margin-top: 5px}
.zhw-item-detail-info .detailInfo img{width: 100%;}
.zhw-item-detail-info .detailInfo .content{max-height:350px;width: auto;overflow: auto;padding: 20px;}


.zhw-item-detail-info-nav{background:#fff;padding:0px 0;height:auto;overflow:hidden;margin:5px 0px 0px 0px;border:1px solid #b2b2b2;}
.zhw-item-detail-info-nav{border-bottom: 0px}
.zhw-item-detail-info-nav .sp{
    float:left;border-right:1px solid #b2b2b2;margin:0px auto 6px 0px;width: 33%;
}
.zhw-item-detail-info-nav .sp:last-child {
    border-right:0px;
}
.sp .up{
    margin:0 auto; overflow:hidden; display:block;
}
.zhw-item-detail-info-nav .navLeft{
    float: left;margin: 0px 0px 0px 21%;
}
.zhw-item-detail-info-nav .navRight {
    float: left;margin: 12px 0px 0px 0px;
}
.sp .down{
    margin: 0px 0px 0px  28%;
}

.noneComment{
    /*    display: none;*/
    /*   display:block;*/
    position: relative;
    width: 200px;
    margin-top: 50%;
  /*  margin-bottom: 50%;*/
    margin-left: 35%;
    font-size: 18px;
    color:#666666 ;
}
.maxHight{
    max-height:350px;
}
.showComment{
    /* display: none;*/
    height: auto;
    display:block;
    /*max-height:350px;*/
}
.commentSend{
    position: relative;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}
.commentSend .in{
    float: left;
    width: 60%;
    height: 40px;
    margin: 0px 0px 15px 0px;
}
.commentSend .in input{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
    border:1px solid #b2b2b2;
}
.commentSend .btn{
    float: right;
    width: 25%;
    height: 45px;
    margin: 0px 20px 30px 20px;
}
.commentSend .btn button{
    height: 100%;
    width: 100%;
    font-size:22px;
    font-weight:300;
    /* font-weight:bold;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fdfeff;
    color: #5ac6fb;
    border:1px solid #b2b2b2;
}
.zhw-item-info  .share {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.share .shareContent {
    position: relative;
    background-color:#e4e2e2;
    top: 50%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}
.share .cancelShare {
    height: 30px;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    padding: 20px;

}
.cancelShare a{
    font-size: 22px;
    vertical-align: middle;
    color:#5ac6fb;
}
.shareContent img {
   /* margin-top: 12px;*/
    text-align: center;
}













