* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}
#page-wrap {
    width: 100%;
    margin:20px auto;
    padding: 0px;
}

.button {
    float: left;
    width: 50%;
    margin: 20px 0px 0px 0px;
}
.button  label{
    font-size: 18px;
    color: #5a5a5a;
    margin: 0px 0px 20px 20%;
}
#student {
    display: block;
    padding: 0px;
}
#student-button {
    opacity: 1.0;
    padding-bottom: 20px;
    border-bottom: 1px solid #169ada;
}

#adult {
    display: none;
    padding: 0px;
}
#adult-button {
    opacity: 0.5;
    padding-bottom: 20px;
    border-bottom: 1px solid #169ada;
}
