#title{
    background-color: white;

}
#title div{
    position: relative;
    padding-top:15px;
    padding-bottom: 10px;

}
#title  img{
    float: left;
    height: 50px;
    margin: 0 10px;

}
#title p{
    margin: 0 10px;
}
.clearFix:after{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.info_area{
    background-color: white;
    margin-top: 20px;
    padding-bottom: 10px;
}
.info_area article{
    border-bottom: 1px solid #b2b2b2;
}
.info_area article h3{
    padding: 15px;
}
.info_area p{
    display: block;
    color:#5ac6fb ;
    margin: 20px;
}
.info_area span{
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0;
    background-color: #5ac6fb;
    padding: 12px;
    color: white;
    text-align: center;
    margin: 15px;
}
#info_input{
    background-color: white;
    margin-top: 20px;
    padding-bottom: 10px;
    display: none;
}
#info_input article{
    margin: 10px;
    color:#5ac6fb ;
    padding-top: 10px;
}
#info_input article img:first-child{
     float: left;
 }
#info_input article img:last-child{
    float: right;
    margin: 15px;
}
#info_input article h3{
    float: left;
    margin: 15px;
}
#info_input section{
    margin: 20px 10px 0 10px;
    clear: both;
    position: relative;
    text-align: center;

}
#info_input section input{
    margin: 0 auto;
    width: 80%;
    height: 60px;
    outline: none;
    border: 0;
}
#info_input section span{

    font-size: 15px;
}
#userInfo{
    display: none;
}
