.usr{

    margin-top: 80px;

}
.usr input[type="text"],input[type="number"]{
    margin-top: 12px;
    height: 40px;
    width: 100%;
    border:0px solid #b2b2b2;
    outline: none;
}
.usr input[type="password"]{
    margin-top: 16px;
    height: 40px;
    width: 100%;
    border:0px solid #b2b2b2;
}
.enter-grid3{
    margin:20px 0px 0px 0px;
    height:auto;
    width: 100%;
    overflow:hidden;
    border:0px solid #b2b2b2;
}
.enter{
    background:#fff;
    margin:20px 0px 0px 0px;
    height:auto;
    width: 100%;
    overflow:hidden;
    border:0px solid #b2b2b2;
    padding: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.enter .des{
    float: left;
    width: 15%;
    height: 40px;
    text-align: left;
    margin-left: 10px;
    margin-top: 25px;
}
.enter .in{
    margin: 0px 0px 0px 10px;
    float: left;
    width: 70%;
}
.enter1{
    float: left;
    background:#fff;
    height:auto;
    width: 75%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.enter1 .des1{
    float: left;
    width: 20%;
    height: 40px;
    text-align: left;
    margin-left: 10px;
    margin-top: 25px;
}
.enter1 .in1{
    margin: 0px 0px 0px 10px;
    float: left;
    width: 65%;
}
.button {
    float: left;
    padding: 12px 2px 12px 2px;
    margin: 0px 0px 0px 10px;
    background: #61beec;
    height: 60px;
    color: white;
    outline: none;
    border: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.showPass {
    margin: 20px auto;
    line-height: 30px;
    float: right;

}
.showPass label{
    color: #61beec;
    margin-right: 10px;
}
.showPass input[type="checkbox"]{
    background-color: #61beec;
    color: #61beec;
    width:20px;
    height:20px;
    margin-right: 5px;
}


