body{
    background-color:#eaeaea ;
}
.zhw-item-user-items {padding:10px 0px 0px 0px;}
.zhw-item-user-items .zhw-item-user-items-list{background:#FFFFFF;margin:0px 0px 0px 0px; height:auto;width:auto;overflow:hidden; padding: 10px;border-bottom: 1px solid #b2b2b2}
.zhw-item-user-items-list img {margin:10px 0px 0px 0px;float: left;}
.zhw-item-user-items-list .des{ margin:0px auto;float: left;width: 85%}
.zhw-item-user-items-list .laLeft{margin:16px 0px 10px 15px;float: left;vertical-align: middle;font-size: 16px;color: #222222}
.zhw-item-user-items-list .laRight{margin:8px 0px 0px 0px;float: right }

.zhw-item-user-items .items-show{background:#FFFFFF;margin:0px 0px 0px 0px; height:auto;width:auto;overflow:hidden; padding: 10px;border-bottom: 0px solid #b2b2b2}
 .items-show .des{ margin:0px auto;float: left;width: 96%}
.items-show .des .laLeft{margin:16px 0px 10px 15px;float: left;vertical-align: middle;font-size: 16px;color: #222222}
.items-show .des .laRight{margin:8px 0px 0px 0px;float: right }

.zhw-item-user-items .items-show-line{background:#FFFFFF;margin:0px 0px 0px 0px; height:auto;width:auto;overflow:hidden; padding: 10px;border-bottom: 1px solid #b2b2b2}
.items-show-line .des{ margin:0px auto;float: left;width: 96%}
.items-show-line .laLeft{margin:16px 0px 10px 15px;float: left;vertical-align: middle;font-size: 16px;color: #222222}
.laLeft label{
    color: #999999;
}
.items-show-line .laRight{margin:6px 0px 10px 15px;float: right;font-size: 16px;color: #222222}
.zhw-item-user-items .item{font-size: 16px;color: #999999;margin: 20px 0px 20px 25px}


.zhw-eva-content{margin: 70px 0px 0px 0px}
.zhw-item-course-list{display: block;background:#fff;margin:10px 10px 20px 10px; height:auto;width:auto;overflow:hidden;position: relative; }
.zhw-item-course-list img {margin:0px 0px 0px 0px; display:block;width: 100%;}
.zhw-item-course-list .des{ margin:10px 10px 20px 10px; }
.zhw-item-course-list .des label{
    font-size: 20px;
    color: #222222;
}
.showTag{
    margin:0px 0px 0px 90%;
    position: absolute;
}
.show-consult-Tag{
    float: right;

}
.btnMenu{
    font-size: 30px;
    color: #5a5a5a;
}

.zhw-item-image-list{height:auto;overflow:hidden;margin: 10px 5px 0px 5px ;background:#FFFFFF;}
.zhw-item-image-list img {float:left;margin:10px;width: 90px;height: 60px}
.zhw-item-image-list .title{margin: 12px 10px 0px 10px ;position: relative;font-size: 15px;font-weight: bold}
.zhw-item-image-list .content{margin: 0px 10px 0px 10px ;position: relative; color: #999999;}


.zhw-item-review-list{position:relative;background:#FFFFFF;margin:0px 0px 20px 0px; height:auto;overflow:hidden;border:0px solid #b2b2b2;  padding: 0px; }
.zhw-item-review-list .img {float:left;margin:10px 10px 10px 10px; width: 90px;position: relative}
.zhw-item-review-list .img img{
    width: 90px;height: 95px
}
.zhw-item-review-list .des{margin:10px 0px 0px 0px;height: auto;}
.zhw-item-review-list .des .title{
    float: left;
    margin: 0px 0px 10px 60px;
    font-size: 16px;
    color: #222222;
}
.zhw-item-review-list .des .content{
    float: left;
    margin: 0px 0px 10px 60px;
    font-size: 15px;
    color: #999999;
}
.usr-consult-items{
    background-color: white;
    height: auto;
    margin: 0px 10px 10px 10px ;
}
.usr-consult-items .showContent{
    padding: 10px;
}
.usr-consult-items .consult{
    color: #222222;
    font-size: 16px;
    margin: 0px 0px 0px 0px ;
}
.usr-consult-items .repley{
    color: #666666;
    font-size: 15px;
    margin: 10px 0px 0px 0px ;
}
.usr-consult-items .tag{
    margin: 10px 0px 0px 0px;
    height: 15px;
    background-color: white;
}
.usr-consult-items .time{
    float: left;
    height: 15px;
    color: #999999;
    font-size: 18px;
    margin: 0px 0px 20px 0px ;
}
.usr-consult-items .count{
    float: right;
    color: #999999;
    font-size: 18px;
    margin: 0px 0px 20px 0px ;
}
.mwui-switch-btn{
    width:70px;
    display:block;
    padding:1px;
    background:#eaeaea;
    overflow:hidden;
    margin-bottom:5px;
/*    border:1px solid #eb6137;*/
    border-radius:18px;
    cursor: pointer;
}
.mwui-switch-btn span{
    width:32px;
    font-size:14px;
    height:30px;
    padding:4px 5px 2px 5px;
    display:block;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6,endColorstr=#eeeeee,grandientType=1);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#eeeeee));
    background:-moz-linear-gradient(top, #f6f6f6, #eeeeee);
    border-radius:18px;
    float:left;
    color:white;
    text-align:center;
}
.mwui-switch-btn:hover span{
    background:#fff;
}
.mwui-switch-btn span.off{float:right;}



























