<!DOCTYPE html>
<html>
<head lang="en">
    <title>卓望阳光心理认证</title>
    <meta charset="utf-8">
    <meta name="keywords" content="卓望阳光,卓望阳光官方网站,卓望阳光商城" />
    <meta name="description" content="心理评测哪个网站好，当然首选卓望阳光!中国最早成立的心理评测网站！" />
<!--    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--设置开始页面图片-->
    <!--<link rel="/touch/apple-touch-startup-image" href="startup.png" />-->
    <!--在设置书签的时候可以显示好看的图标 #ffffff-->
    <!--<link rel="apple-touch-icon" href="/touch/iphon_tetris_icon.png"/>-->
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/information.css"/>
    <script data-main="scripts/info" src="scripts/vendor/require.js"></script>
</head>
<body>
    <div class="com-content" ng-controller="InfoClassListCtrl">
        <div class="com-header-area" id="js-com-header-area" ng-controller="CommonCtrl">
           <!-- <a ng-click="goBack();"><div class="com-header-back"><img src="images/back.png"/></div></a>
            <a ng-click="refresh();"><div class="com-header-title-child"><h2 ng-bind="className"></h2></div></a>-->
            <a ng-click="goBack();"><div class="header-left"><img src="images/back.png"/></div></a>
            <a ng-click="refresh();"><div class="header-center-i"><span ng-bind="className"></span></div></a>
        </div>
        <div class="modal" ng-if="loading">
            <div class="loading">
                <img src="images/loading.jpg" alt=""/><span ng-bind="loading_text"></span>
            </div>
        </div>
        <div class="com-content-area-no">

            <div class="zhw-classinfo-img" ng-controller="InfoBannerCtrl">
              <!--  ng-href="{{infoBannerItems[0].link}}"-->
                <a  ng-click="detail(infoBannerItems[0].link)"> <img ng-src="{{infoBannerItems[0].image}}"/></a>
            </div>
            <div class="zhw-item-info" id="infoContent">

                <!--<div class="zhw-class-info-list"><a href="detailInfo.html"><img src="images/healthy.png" /><div  class="title"> <b>调查七成学生遭遇侵害....</b></div><div  class="content"> <label>开放思维科学管理，关爱学生......</label></div><div  class="flow"> <label>67人看过</label></div></a></div>-->
               <!-- <div class="zhw-item-info-list" ng-repeat="item in infoList">
                    <a href="detailInfo.html">
                        <div class="img"><img src="images/healthy.png" /></div>
                        <div class="des">
                            <div  class="bTop"> <b ng-bind="item.name"></b></div>
                            <div  class="laLeft"> <label ng-bind="item.brief"></label></div>
                            <div  class="classRight"> <label ng-bind="item.pv"></label></div>
                        </div>
                    </a>
                </div>-->


            </div>
        </div>


        </div>

    </div>

</body>
</html>