<!DOCTYPE html>
<html>
<head lang="en">
    <title>卓望阳光心理认证</title>
    <meta charset="utf-8">
    <meta name="keywords" content="卓望阳光,卓望阳光官方网站,卓望阳光商城" />
    <meta name="description" content="心理评测哪个网站好，当然首选卓望阳光!中国最早成立的心理评测网站！" />
<!--    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--设置开始页面图片-->
    <!--<link rel="/touch/apple-touch-startup-image" href="startup.png" />-->
    <!--在设置书签的时候可以显示好看的图标 #ffffff-->
    <!--<link rel="apple-touch-icon" href="/touch/iphon_tetris_icon.png"/>-->
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/consulation.css"/>
    <link type="text/css" rel="stylesheet" href="css/question.css"/>
    <script data-main="scripts/consult" src="scripts/vendor/require.js"></script>

</head>
<body>
    <div class="com-content" ng-controller="ConsultCreateCtrl">
        <div class="com-header-area" id="js-com-header-area" ng-controller="CommonCtrl">
      <!--      <a ng-click="goBack();"><div class="com-header-back"><img src="images/back.png"/></div></a>
            <a ng-click="refresh();"><div class="com-header-title-child"><h2>心理咨询</h2></div></a>-->
            <a ng-click="goBack();"><div class="header-left"><img src="images/back.png"/></div></a>
            <a ng-click="refresh();"><div class="header-center"><span>咨询回答</span></div></a>
            <a ng-click="submitConsult()"><div class="header-right-lable"><h2>提问</h2></div></a>
        </div>
        <div class="modal" ng-if="loading">
            <div class="loading">
                <img src="images/loading.jpg" alt=""/><span ng-bind="loading_text"></span>
            </div>
        </div>
        <div class="com-content-area-no" ng-controller="MyselfCtrl">
              <section id="title">
                  <div>
                      <img src="images/question.png">
                      <p class="clearFix">5分钟快速应答服务承诺时间为9:00~21:00其余时间可能回复稍慢，请您耐心等待</p>
                  </div>
              </section>

             <section class="info_area">
                 <article><h3>基本信息</h3></article>
                 <p>为了让咨询师更了解您的状态，请如实填写</p>
                 <a href="profiles.html">
                     <div id="userInfo">
                         <span ng-bind="sex"></span>
                         <span ng-bind="birthday"></span>
                     </div>
                 </a>
                 <a href="profiles.html">
                     <div id="unUserInfo">
                         <span>完善档案信息</span>
                     </div>
                 </a>

             </section>
            <a href="consultClass.html" id="select_input">
                <section class="info_area">
                    <article><h3>心理症状</h3></article>
                    <span ng-bind="className"></span>
                </section>
            </a>
            <a href="consultClass.html">
                <section id="info_input">
                    <article>
                        <img src="images/question_1.png">
                        <h3>我的症状：</h3>
                        <img src="images/question_2.png">
                    </article>
                    <section>
                        <span ng-bind="consultInfo"></span>
                        <!--<input type="text" placeholder="请描述您的症状" id="consultInfo"/>-->
                    </section>
                </section>
            </a>




        </div>


        </div>

    </div>

</body>
</html>