<!DOCTYPE html>
<html>
<head lang="en">
    <title>卓望阳光心理认证</title>
    <meta charset="utf-8">
    <meta name="keywords" content="卓望阳光,卓望阳光官方网站,卓望阳光商城" />
    <meta name="description" content="心理评测哪个网站好，当然首选卓望阳光!中国最早成立的心理评测网站！" />
    <!--    <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--设置开始页面图片-->
    <!--<link rel="/touch/apple-touch-startup-image" href="startup.png" />-->
    <!--在设置书签的时候可以显示好看的图标 #ffffff-->
    <!--<link rel="apple-touch-icon" href="/touch/iphon_tetris_icon.png"/>-->
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/consulation.css"/>
    <script data-main="scripts/consult" src="scripts/vendor/require.js"></script>

</head>
<body>
<div class="com-content" ng-controller="ConsultClassCtrl">

    <div class="com-header-area"  ng-controller="CommonCtrl">
        <a ng-click="goIndex();"><div class="header-left"><img src="images/back.png"/></div></a>
        <a ng-click="refresh();"><div class="header-center"><span>症状选择</span></div></a>
        <a ng-click="confirm()"><div class="header-right-lable"><h2>确定</h2></div></a>
    </div>
    <div class="modal" ng-if="loading">
        <div class="loading">
            <img src="images/loading.jpg" alt=""/><span ng-bind="loading_text"></span>
        </div>
    </div>
    <div class="com-content-area-no" >

            <a ng-repeat="item in classData" ng-click="changeCss(item.id,item.name)">
                <div class="consult-class-info" id="{{item.id}}">
                    <div >
                        <h3 ng-bind="item.name"></h3>
                    </div>
                </div>
            </a>


    </div>

    <div class="com-footer-area-blank">

    </div>

</div>

</div>

</body>
</html>