<!DOCTYPE html>
<html>
<head lang="en">
    <title>卓望阳光心理认证</title>
    <meta charset="utf-8">
    <meta name="keywords" content="卓望阳光,卓望阳光官方网站,卓望阳光商城" />
    <meta name="description" content="心理评测哪个网站好，当然首选卓望阳光!中国最早成立的心理评测网站！" />
    <!--    <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--设置开始页面图片-->
    <!--<link rel="/touch/apple-touch-startup-image" href="startup.png" />-->
    <!--在设置书签的时候可以显示好看的图标 #ffffff-->
    <!--<link rel="apple-touch-icon" href="/touch/iphon_tetris_icon.png"/>-->
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/courseShow.css"/>
    <script data-main="scripts/course" src="scripts/vendor/require.js"></script>

</head>
<body>
<div id="detail" ng-controller="CourseClassDetailCtrl">
    <header id="topHeader" ng-controller="CommonCtrl">
        <span> <a ng-click="goBack();"><img src="images/back-30.png"/></a></span>
        <span> <a ng-click="refresh();"><label ng-bind="name"></label></a></span>
    </header>
    <div class="modal" ng-if="loading">
        <div class="loading">
            <img src="images/loading.jpg" alt=""/><span ng-bind="loading_text"></span>
        </div>
    </div>
    <section>
        <div class="zhw-course-img">
            <img ng-src="{{icon}}"/>
        </div>
        <div class="zhw-item-course-show">
            <div  class="des"><b>课程简介：</b>
                <label ng-bind="brief">
                </label>
            </div>
        </div>
        <div class="zhw-item-course-show">
            <div  class="des"><b>课程信息</b></div>
            <div  class="des">课程信息：<label ng-bind="name"></label></div>
            <div  class="des">时长：<span><label ng-bind="interval|IntervalFilters"></label>分钟</span></div>
            <div  class="des">在线学习人数：<span ng-bind="pv">45</span></div>
            <div  class="des">下载量：<span ng-bind="download"></span></div>
            <div  class="des">收藏：<span ng-bind="collection"></span></div>
            <div  class="des">课程介绍：<span class="show">免费</span></div>
        </div>

    </section>
    <footer id="tool">
        <ul>
            <li>
                <div id="addCollection"><a ng-click='toggleMenuCollection()'><image src="images/heart1_30.png"  /><p>收藏</p></a></div>
                <div id="cancelCollection"><a ng-click='toggleMenuCollectionCancel()'><image src="images/heart1_1_30.png"  /><p>取消</p></a></div>
            </li>
            <li><a ng-click="onLineLook()"><image src="images/play_30.png" /><span id="infoComment" ng-bind="infoComment"></span><p >在线学习</p></a></li>
            <li><a id="courseDown"  ng-click="onDownload()"><image src="images/download_30.png" /><p>下载</p></a></li>
        </ul>
    </footer>

</div>

</body>
</html>