<!DOCTYPE html>
<html>
<head>
    <title>卓望阳光心理认证</title>
    <meta charset="utf-8">
    <meta name="keywords" content="卓望阳光,卓望阳光官方网站,卓望阳光商城" />
    <meta name="description" content="心理评测哪个网站好，当然首选卓望阳光!中国最早成立的心理评测网站！" />
    <!--    <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--设置开始页面图片-->
    <!--<link rel="/touch/apple-touch-startup-image" href="startup.png" />-->
    <!--在设置书签的时候可以显示好看的图标 #ffffff-->
    <!--<link rel="apple-touch-icon" href="/touch/iphon_tetris_icon.png"/>-->
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"/>
    <script data-main="scripts/main" src="scripts/vendor/require.js"></script>
    <style type="text/css">
    </style>
    <script>
        //var sessionId= '9a8019672d342609bff1ff44b629b822',userId= 1000213,userName=2;
        ${VOLATILE}
    </script>
</head>
<body >
<div id="index" ng-controller="MainInitCtrl">
    <header id="topHeader">
        <span><a href="index.html"><img src="images/back-30.png"/></a></span>
        <span><a href="index.html">阳光心理</a></span>
        <span><a href="user.html"><img src="images/person.png"/></a></span>
    </header>
    <div class="modal" ng-if="loading">
        <div class="loading">
            <img src="images/loading.jpg" alt=""/><span ng-bind="loading_text"></span>
        </div>
    </div>
    <section>
        <div class="touchslider" id="b04" ng-controller="BannerCtrl">
            <ul id="infoBanner">
                <!--<li ng-repeat="item in bannerItems"><img ng-src="{{item.image}}"><li/>-->
               <!-- <li ng-repeat="item in bannerItems"><a  ng-click="detail(item.link)"><img ng-src="{{item.image}}"></a></li>-->
             <!--   <li><img src="images/t2.png"></li>
                <li><img src="images/t1.png"></li>-->
            </ul>
        </div>
      <!--  <div class="touchslider" ng-controller="BannerCtrl">
            <div class="touchslider-viewport" >
                <a  ng-repeat="item in bannerItems track by $index" ng-click="detail($index+1,item.link)"><img ng-src="{{item.image}} "></a>
            </div>
        </div>-->
        <div class="zhw-tab-nav">
            <div class="quarter">
                <a href="information.html">
                    <img src="images/information_60.png"/>
                    <h4>热门资讯</h4>
                </a>
            </div>
            <div class="quarter">
                <a href="review.html">
                    <img src="images/evaluation_60.png"/>
                    <h4>心理测评</h4>
                </a>
            </div>
            <div class="quarter">
                <a href="course.html">
                    <img src="images/course_60.png"/>
                    <h4>心理课堂</h4>
                </a>
            </div>
            <div class="quarter">
                <a href="consulation.html">
                    <img src="images/consultation_60.png"/>
                    <h4>心理咨询</h4>
                </a>
            </div>
        </div>
        <div class="zhw-item">
            <a href="information.html">
                <div class="zhw-item-head">
                    <div class="zhw-item-channel">
                        热门资讯
                    </div>
                    <div class="zhw-item-more">
                        更多>
                    </div>
                </div>
            </a>
            <div class="zhw-item-list" ng-controller="InfoCtrl">
                <a href="detailInfo.html?id={{item.id}}" ng-repeat="item in infoItems" ng-bind='item.name'></a>
            </div>
        </div>
        <div class="zhw-item">
            <a href="review.html">
                <div class="zhw-item-head">
                    <div class="zhw-item-channel">
                        心理测评
                    </div>
                    <div class="zhw-item-more">
                        更多>
                    </div>
                </div>
            </a>
            <div class="zhw-item-area" ng-controller="MainTestCtrl">
                <div id="main-test-info"></div>
            </div>
        </div>

        <div class="zhw-item">
            <a href="course.html">
                <div class="zhw-item-head">
                    <div class="zhw-item-channel">
                        心理课堂
                    </div>
                    <div class="zhw-item-more">
                        更多>
                    </div>
                </div>
            </a>
            <div class="zhw-item-image-list" ng-controller="MainCourseCtrl">
                <div class="zhw-item-image-list" ng-repeat="item in courseItems">
                    <a href="courseShow.html?id={{item.id}}&name={{item.name}}">
                        <img ng-src="{{item.icon}}" />
                        <div  class="title"> <span ng-bind="item.name|NameFilters"></span></div>
                        <div  class="flowLeft"> <label>时长:<label ng-bind="item.interval|IntervalFilters"></label>分钟</label></div>
                        <div  class="flowRight"><label>点击量:<label ng-bind="item.pv"></label></label></div>
                    </a>
                </div>

            </div>
        </div>



    </section>

</div>

</body>
</html>