<!DOCTYPE html>
<html>
<head lang="en">
    <title>卓望阳光心理认证</title>
    <meta charset="utf-8">
    <meta name="keywords" content="卓望阳光,卓望阳光官方网站,卓望阳光商城" />
    <meta name="description" content="心理评测哪个网站好，当然首选卓望阳光!中国最早成立的心理评测网站！" />
    <!--    <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--设置开始页面图片-->
    <!--<link rel="/touch/apple-touch-startup-image" href="startup.png" />-->
    <!--在设置书签的时候可以显示好看的图标 #ffffff-->
    <!--<link rel="apple-touch-icon" href="/touch/iphon_tetris_icon.png"/>-->
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/evaluation.css"/>
    <script src="script/jquery.js"></script>
    <script src="script/iscroll-lite.js"></script>
    <script>
       /* var myScroll;
        jQuery(function($) {
            myScroll = new iScroll('wrapper');
            document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
            document.addEventListener('DOMContentLoaded', loaded, false);
        });*/
    </script>
</head>
<body>
<div class="com-content">
    <div class="com-header-area" id="js-com-header-area">
        <a ng-click="goBack();"><div class="header-left"><img src="images/back.png"/></div></a>
        <a ng-click="refresh();"><div class="header-center-i"><span>我的报告</span></div></a>
    </div>
    <div class="modal" ng-if="loading">
        <div class="loading">
            <img src="images/loading.jpg" alt=""/><span ng-bind="loading_text"></span>
        </div>
    </div>
    <div class="com-content-area">

        <div class="zhw-item-eva-report-result">
            <h2>我的测试报告</h2>
            <div class="detailInfo">
                <div class="content" id="wrapper">
                    <div id="scroller">
                        &nbsp;&nbsp;&nbsp;人的一生中大约有1/3的时间在睡眠中度过。但质量却令人堪忧，世界卫生组织调查发现，全球近三成人存在睡眠问题。近日，香港《信报》刊文呼吁，0到80岁都要睡得好。掌握每个年龄段睡眠的“金钥匙”，是每个人一生的必修课。
                        　　睡不好的危害堪比吸烟

                        　　在多少个漫长的夜晚，全世界数以万计的人们辗转难眠，那种痛苦的滋味只有一分一秒亲身经历过的人才能了解。人们的睡眠时间越来越短，质量也越来越差，睡眠障碍已成为威胁世界各国公众健康的一个突出问题。

                        　　美国全国睡眠基金会调查显示，全美约7000万人失眠，其中女性更为严重，2/3的女性睡不好，近30%的女性常吃安眠药。来自法国的数据显示，53%的人“想在白天躺会儿”，30%的人出现过睡眠紊乱，而2006年这一比例仅为19%。澳大利亚睡眠协会的调查则显示，约6%的澳大利亚人存在失眠、打鼾等睡眠问题，40%的人经过一夜睡眠后仍浑身乏力。

                        　　中国人的睡眠状况同样不容乐观。在巨大的压力面前，人们的睡眠时间变得越来越短，熬夜等不良生活习惯在年轻人中蔓延。据不完全统计，我国有38%的人存在各类睡眠障碍，高于世界27%的比例。其中，近3亿人失眠，约2亿人打鼾，5000万人在睡眠中发生过呼吸暂停。与20年前相比，北京市民平均每天少睡25分钟，67%的上海人每天只睡五六个小时。一项调查还发现，我国儿童比美国儿童平均每天少睡近1小时。

                        　　“睡不好”的危害甚至可能超过吸烟。研究显示，长期睡眠不足会形成“睡眠赤字”，缩短人的寿命，每晚睡眠不足4小时的成年人，其死亡率比每晚睡七八个小时的人高180%，衰老速度也是正常人的2.5～3倍。睡眠障碍还与抑郁症、糖尿病、脑卒中、癫痫、痴呆、儿童智力发育、肾功能损伤、性功能障碍等多种疾病相关。研究发现，经常失眠的人发生中度抑郁的危险是正常人群的5倍。不仅如此，失眠、缺觉还带来了大量交通事故和经济损失。据我国有关部门统计，因疲劳驾驶造成交通事故的占特大交通事故的40%～80%。

                        　　一辈子睡觉的学问

                        　　世界卫生组织对睡眠质量的好坏有一个评价标准，具体包括：30分钟内入睡；睡眠沉，呼吸深长无打鼾，夜间不易惊醒；起夜少，无惊梦现象，醒后很快忘记梦境；早晨起床后精神好；白天头脑清晰，工作效率高，不困乏。如何才能拥有好的睡眠？每个年龄段都要学会按照自己的年龄科学睡眠，掌握黄金睡眠的关键。

                        　　婴幼儿（1～3岁）：防止夜啼。1岁以下婴儿需要的睡眠时间最多，大概每天16小时，新生儿可达22小时。睡眠是婴幼儿生长发育的重要时段，因此睡眠时间必须要保证。最好在婴儿清醒时喂奶或换尿布。这个阶段最让父母头疼的睡眠问题是夜啼。夜啼多由惊吓导致，对于婴儿来说，打个喷嚏、门铃、电话铃声都可能造成惊吓，所以要营造安静的环境，动作轻缓，避免惊吓。大多数夜啼可以自愈，如果情况严重，比如每晚醒5～6次，且每次哭得时间较长，建议父母带婴儿去正规医院进行小儿推拿。2～3岁的幼儿每天睡10～12小时，晚上醒的次数逐渐减少，此阶段要避免因喝水过多导致的起夜，临睡前要小便，尽量少喝水，饮食上预防因微量元素不平衡导致的盗汗、睡不安稳等情况。

                        　　儿童青少年（4～17岁）：培养规律作息习惯。绝大多数生长激素在睡眠中产生，因此睡眠对于大脑以及骨骼的发育至关重要。4～12岁的儿童最好保证每天睡10～12个小时，每晚8点左右上床，中午尽可能小睡一会儿。这个阶段的重点是养成按时睡觉的好习惯，父母最好与孩子一起定个时间表，督促他们按时睡，睡前让孩子做些准备工作，如刷牙、洗脸、整理床铺等，暗示孩子“该睡觉了”。12～18岁的青少年每天睡8～9个小时即可。此时，青少年失眠症逐渐出现，常常与学习、家庭、社会因素造成的心理紧张、焦虑、抑郁有关。父母应该多和孩子沟通，帮助他们缓解内心压力。此外，青少年喜欢喝可乐、咖啡等令大脑兴奋的饮料，也会加重失眠症状。

                        　　成年人（18～60岁）：每天11点入睡。成年人每天要保证7～8小时的睡眠。随着年龄的增长，深度睡眠时间逐渐缩短，平均为3～4小时，且主要集中在前半夜，即晚上11点到凌晨3点，3点半以后就很少有深度睡眠了。而睡眠对于身体的修复作用，主要是在深度睡眠过程中发生的。因此，一定要抓住晚上11点～早上6点这个黄金睡眠时段，切忌熬夜，保证11点开始入睡。成年人失眠主要源于精神心理和环境因素，除了尽可能缓解压力外，还可以在就寝环境上下点工夫，如减小噪音、通风换气、适当遮光等，并选择10～15厘米高、软硬适中的枕头，临睡前尽量保持心绪平静，不要看情节刺激的电视剧或者小说。每天午睡30分钟，也可有效缓解疲劳。

                        　　老年人（60岁以上）：揪出疾病干扰因素。老年人的睡眠质量逐渐下降，常常睡一会儿醒一会儿，深度睡眠越来越少。因此，可以通过白天多次打瞌睡、小睡来弥补睡眠质量的不足，60岁以上的老年人最好每天睡8～9小时，70岁以上睡9～10小时，90岁以上则要睡10小时以上。此外，慢性病、肾功能减退、前列腺肥大、血糖不稳等疾病，常常是导致老年人睡眠质量下降的“罪魁祸首”，因此要有针对性地进行治疗。患有慢性病的老年人需要长期服用多种药物，某些药物存有干扰睡眠的副作用，这时需要咨询医生，调整服药种类。很多老年人对于睡眠的认识不足，有的老年人仍用年轻人的标准衡量自己，要求自己整夜不醒，这反而会增加精神压力，降低睡眠质量。老年人半夜醒来很正常，只要能继续入睡就好，早上4、5点就醒也是正常现象。但是，如果失眠比较严重，最好去医院接受正规治疗，千万不要自行服用安眠类药物。


                        　　各国助眠有高招

                        　　为了解决失眠难题，世界各国的研究人员各有高招，一些实用的方法值得我们借鉴。

                        　　英国一项研究发现，卧室使用蓝色寝具的人睡眠质量最高，这是因为蓝色能平复情绪，令人精神镇定，同时能降低血压和心跳，从而有助于快速入眠；英国睡眠协会还提出，给婴幼儿洗澡，扑点有香味的爽身粉，有助于入睡；日本睡眠专家建议，在睡觉前1～2个小时泡个澡，可以升高体温、放松肌肉，为你带来浓浓睡意，但水温不可过高，以38℃～40℃为宜，泡20分钟左右即可，也可以在水里滴几滴薰衣草精油等有安神效果的植物精油，有助于睡眠；澳大利亚睡眠协会在该国部分高中和大学中开设了“睡眠指导课”，帮助学生明确最适合自己的睡眠时间。此外，研究显示，香蕉、菊花茶、温牛奶、蜂蜜、杏仁、龙眼、核桃、猕猴桃等是天然的“催眠食物”，睡眠质量不好的人可以适量多吃。
                    </div>
                </div>
                <footer>
                    <div class="zhw-item-eva-report-result-nav">
                        <div class="sp">
                            <div class="up">
                                <div class="navLeft"><image src="images/advice.png" /></div>
                                <div class="navRight"><a href="#"></a></div>
                            </div>
                            <div class="down">
                                <span  style="display: block"><a href="#">专家建议</a></span>
                            </div>
                        </div>
                        <div class="sp">
                            <div class="up">
                                <div class="navLeft"><image src="images/read.png" /></div>
                                <div class="navRight"><a href="#"></a></div>
                            </div>
                            <div class="down">
                                <span  style="display: block"><a href="#">相关阅读</a></span>
                            </div>
                        </div>
                    </div>
                </footer>


            </div>

        </div>
    </div>


</div>

</div>

</body>
</html>